@charset "UTF-8";
/*字号  大小*/
.F12{ font-size: 12px;}
.F14{ font-size: 14px;}
.F16{ font-size: 16px;}
.F18{ font-size: 18px;}
.F20{ font-size: 20px;}

/*布局 显示 隐藏*/
.FL{ float: left;}
.FR{ float: right;}
.Clear{ clear: both;}
.Clearfix{zoom:1;}
.Clearfix::after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.Block{ display: block;}
.Inline{ display: inline;}
.InlineB{ display: inline-block;}
.Show{ display: block;}
.Hide{ display: none;}

/* flex 布局*/
.Flex{ display: flex; display: -webkit-flex;}
.Flex1{ -webkit-box-flex: 1;  -webkit-flex: 1;  flex: 1;}   /* 直接孩子 flex:1 */
.Flex2{ -webkit-box-flex: 2;  -webkit-flex:2;  flex: 2;}
.Flex3{ -webkit-box-flex: 3;  -webkit-flex:3;  flex: 3;}
.Flex4{ -webkit-box-flex: 4;  -webkit-flex:4;  flex:4;}
.Flex5{ -webkit-box-flex: 5;  -webkit-flex:5;  flex: 5;}
.FlexVer{ -webkit-align-items: center;  align-items: center;}  /* 垂直居中 */
.FlexHor{justify-content: center;-webkit-justify-content:center; } /*一行居中对齐*/
.FlexBet{ -webkit-box-pack: justify;  -webkit-justify-content: space-between;  -ms-flex-pack:justify ;  justify-content: space-between;}  /*  两端对齐*/
.FlexNoWrap{ flex-wrap: nowrap; -webkit-flex-wrap: nowrap;}

/* 文本 */
.FB{ font-weight: bold; }
.OneElip{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap;word-break: break-all;text-align: justify;} /*超出一行 ...显示*/
.TwoElip{overflow:hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 2;  -webkit-box-orient: vertical;  white-space: normal;word-break: break-all;text-align: justify;} /*超过两行 ...显示*/
.ThrElip{overflow:hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 3;  -webkit-box-orient: vertical;  white-space: normal;word-break: break-all;text-align: justify;} /*超过三行 ...显示*/



.ML5{  margin-left: 5px;}
.ML10{ margin-left: 10px;}
.ML15{ margin-left: 15px;}
.ML20{ margin-left: 20px;}
.ML25{ margin-left: 25px;}
.ML30{ margin-left: 30px;}

.MT5{  margin-top: 5px;}
.MT10{ margin-top: 10px;}
.MT15{ margin-top: 15px;}
.MT20{ margin-top: 20px;}
.MT25{ margin-top: 25px;}
.MT30{ margin-top: 30px;}


.MR5{  margin-right: 5px;}
.MR10{ margin-right: 10px;}
.MR15{ margin-right: 15px;}
.MR20{ margin-right: 20px;}
.MR25{ margin-right: 25px;}
.MR30{ margin-right: 30px;}

.MB5{  margin-bottom: 5px;}
.MB10{ margin-bottom: 10px;}
.MB15{ margin-bottom: 15px;}
.MB20{ margin-bottom: 20px;}
.MB25{ margin-bottom: 25px;}
.MB30{ margin-bottom: 30px;}

.PL5{  padding-left: 5px;}
.PL10{ padding-left: 10px;}
.PL15{ padding-left: 15px;}
.PL20{ padding-left: 20px;}
.PL25{ padding-left: 25px;}
.PL30{ padding-left: 30px;}

.PT5{  padding-top: 5px;}
.PT10{ padding-top: 10px;}
.PT15{ padding-top: 15px;}
.PT20{ padding-top: 20px;}
.PT25{ padding-top: 25px;}
.PT30{ padding-top: 30px;}

.PR5{  padding-right: 5px;}
.PR10{ padding-right: 10px;}
.PR15{ padding-right: 15px;}
.PR20{ padding-right: 20px;}
.PR25{ padding-right: 25px;}
.PR30{ padding-right: 30px;}

.PB5{  padding-bottom: 5px;}
.PB10{ padding-bottom: 10px;}
.PB15{ padding-bottom: 15px;}
.PB20{ padding-bottom: 20px;}
.PB25{ padding-bottom: 25px;}
.PB30{ padding-bottom: 30px;}
